*{
 /* border: 0.1em solid blue; */
  margin: 0;
  box-sizing: border-box;
}

h1{
  position: absolute;
  left: 30%;
  top:8%;
  margin-top: 20px;
  font-family: 'Odibee Sans', cursive;
  font-size: 50px;
  animation-name: rainbowl;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


h2{
  text-transform: capitalize;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Odibee Sans', cursive;
  font-size: 40px;
  background-color: white;
  height: 350px;
	width: 550px;
  animation-name: rainbowl;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
h3{

  font-family: 'Odibee Sans', cursive;
  font-size: 30px;
  /* margin-top: 20px; */
  animation-name: rainbowl;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
h4{
  margin: auto 30%;
  font-family: 'Odibee Sans', cursive;
  font-size: 30px;
}
@keyframes rainbowl{
  15%{color: violet;}
  30%{color: indigo;}
  45%{color: blue;}
  60%{color: green; }
  75%{color: yellow;}
  87%{color: orange;}
  100%{color: red;}
}
@keyframes transparent {
  0%{opacity: 0.1}
  50%{opacity: 1}
  100%{opacity: 0.1}
}
img{
  width: 70%;
  margin: 20px auto;
  /* animation-name: transparent;
  animation-duration: 3s;
  animation-iteration-count: infinite; */
  /* box-shadow: 5px 5px grey; */
}
#start-button, #redo-button{
  display: block;
  width: 130px;
  height: 40px;
  font-size: 25px;
  font-family: 'Odibee Sans',cursive;
  margin: 0px auto;
  box-shadow: 5px 5px grey;
}
@keyframes shake {
  0%{transform: rotate(15deg);}
  50%{transform: rotate(0deg);}
  100%{transform: rotate(-15deg);}
}
#start-button:hover{
  background-color: red;
  color: white;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-duration: 0.2s
}
#redo-button:hover,.close-button:hover{
  background-color: green;
  color: white;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-duration: 0.2s
}
#redo-button {
  display: none;
  margin: 20px auto;

}
.close-button{

  width: 130px;
  height: 40px;
  font-size: 25px;
  font-family: 'Odibee Sans',cursive;
  margin: 20px auto;
  box-shadow: 5px 5px grey;
}
body{

  text-align: center;
  background-color: black;
}
header{
  text-align: center;
  /* width: 100%; */

  background-repeat: no-repeat;
  background-position: center;
}
.quiz-section{
  padding: 20px auto;
  
  margin: 40px 15%;
  display: none;
  padding: 30px 0px;
  /* border: 0.1em solid gray; */


  background-color: SteelBlue;
  box-shadow: 5px 5px grey;
}
.answer-section{

  margin: 20px 15%;
  display: flex;
  justify-content: space-around;
  height: 100px;

}
.correct-answer{
  margin: 20px auto;
  font-size: 30px;
}
.answer-section button, .next-button{
  border-radius: 10%;
  font-size: 20px;
  width:150px;
  height: 70px;
  font-family: 'Odibee Sans',cursive;
  margin-top: 20px;
  box-shadow: 5px 5px grey;
}
.answer-section button:hover, .next-button:hover{
  font-size: 25px;
  background-color: yellow;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-duration: 0.2s
}
.modal{
  background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
}
/* .question{
  margin: 20px auto;
 } */
