*{
  /* border: 0.1em solid blue; */
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  margin: auto 50px;
  background-color: silver;
}

.bj-image{
  background-image: url('https://images.pexels.com/photos/890475/pexels-photo-890475.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px);
  height: 600px;
  width: 100%;

}

.bj-text{
  top:20%;
  left: 30%;
  position: absolute;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: rgba(0,0,0, 0.4);
  z-index: 2;
}
button:hover{
  background-color: grey;
  color: white;
  border-color: grey;
}
#search{
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 15px;
  height: 20px;
  width: 120px;
}
#random{

  font-family: 'Josefin Sans', sans-serif;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 15px;
  height: 20px;
  width: 170px;
}

input{

  border-radius: 4px;
  font-size: 20px;
  margin: 10px auto;
  display: block;
  width: 50%;
  height: 40px;
  font-family: 'Josefin Sans', sans-serif;
}
h1{
  text-transform: capitalize;
  margin: 30px 20px;
}
h2{
  font-size: 25px;
  display: none;
}
h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  margin: 20px auto;
}
h6{
  font-size: 15px;
  margin: 30px 50px;
}
.cocktail-imgs{
  text-align: center;
  margin: 20px;
  background-color: rgba(225,250,205,0.6) ;
  border-radius: 80%;

}
.search-result{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px auto;
}
.instruction{
  margin: 20px 30px;

}

.search-imgs{
  display: none;
  width: 100%;
  padding: 20px;


}
.search-imgs img{
  width: 50%;
  border-radius: 80%;
}

.search-imgs:first-of-type{
  display: block;
}

.cocktail-container{
  margin: 10px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.carousel-button {
  display: none;
}
.next img{
  width: 20%;
  margin: 60% 40%;
  animation-name: swing1;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.previous img{
  width: 20%;
  margin: 60% 40%;
  animation-name: swing2;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes swing1 {
  0%{transform: rotate(0deg)}
  25%{transform: rotate(30deg)}
  50%{transform: rotate(0deg)}
  75%{transform: rotate(-30deg)}
  100%{transform: rotate(0deg)}
}
@keyframes swing2 {
  0%{transform: rotate(0deg)}
  25%{transform: rotate(-30deg)}
  50%{transform: rotate(0deg)}
  75%{transform: rotate(30deg)}
  100%{transform: rotate(0deg)}
}
