*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

}
body{
  background-color: rgb(245, 245, 220,0.3);
}
.header-img{
  filter: blur(3px);
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-image: url("image/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.header-color{
  width: 100vw;
  height: 50vh;
  position: absolute;
  background-color: rgba(251, 88, 62, 0.6);
  z-index: 2;
}
.header-text{
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.header-text >h1{
  color: white;
  margin-top: 50px;
  text-align: center;
}
h1{
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  color:rgb(251, 88, 62)
}
h3{
  margin-bottom: 20px;
}
h4{
  margin-top: 2vh;
  color:rgb(251, 88, 62);

}
h4:hover{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(251, 88, 62,1), rgba(255,0,0,0));
  color:white;

}
.nav-div{
  display: flex;
  justify-content: space-around;
  margin: 40px 50px;

}
.nav-col{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav-div img{
  width: 80px;
  height: 10vh;
  margin: 10px;
}
.about-me{
  display: flex;
  justify-content: space-around;
  margin: 6vh 10vw;
}
.about-me>img{
  width: 300px;
  height: 40vh;
  margin-right: 10vw;
  box-shadow: 5px 10px rgba(251, 88, 62, 0.2);
  border-radius: 10%;
}

.logos img, .project-content img{
  width:30px;
  height: 30px;
  margin: 10px 10px;


}
.project-content-logo{
  display: flex;
  justify-content: flex-start;
}
.project-content-logo a {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.project{
  display: flex;
  justify-content: space-around;
  margin: 6vh 10vw;
}

.project>img{
  width: 350px;
  height: 40vh;
  box-shadow: 5px 10px rgba(251, 88, 62, 0.2);

}
.project-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3vh 10vw;
}

.resume img{
  border: 0.1em solid black;
  box-shadow: 5px 10px rgba(251, 88, 62, 0.2);
  margin: 20px auto;
  width: 80vw;
  height: 90vh;
}

a{
  text-decoration: none;
}
li{
  list-style-position: inside;
}
#github{
  width: 10vw;
  height: 8vh;
}
#sticky{
  position: sticky;
  top: 0;
  background-color: rgba(251, 88, 62, 0.2);
  padding: 20px 0px;
  border-radius: 10%;

}
